body {
	color: #666666;
	font-family: "Verdana", sans-serif;
	font-weight: 400;
}

h1 {
	font-size:48px;
	margin-top: 45px;
	margin-bottom: 10px;
}

h2 {
	color: #F07C17;
	font-weight: 800;
	font-size:24px;
	margin-bottom: 30px;
}

p {
	line-height: 200%;
	font-size:16px;
}

ul {
	font-size:16px;
	line-height: 200%;
}

.bordered {
	border: 1px solid #CCCCCC;
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 25px;
    padding-left: 0px;
    border-top-width: 1px;
    border-left-width:0px;
    border-right-width:0px;
    border-bottom-width:1px;
}
